* {
  text-align: center;
  background-color: #3e5f73;
  color: white;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 40px;
  color:#ead27a;
}

h3 {
  font-size: 35px;
  color:#ead27a;
}

h4 {
  font-size: 30px;
  color:#ead27a;
}

.decrease {
  padding: 5px;
  margin: 5px;
  background-color: #fe938c;
  color: black;
  border-radius: 5px;
}

.increase {
  padding: 5px;
  margin: 5px;
  background-color: #6191b5;
  color: black;
  border-radius: 5px;
}

.reset {
  padding: 5px;
  margin: 5px;
  background-color: #e71d37;
  color: black;
  border-radius: 5px;
}

.question {
  padding: 5px;
  margin: 5px;
  background-color: #ead27a;
  color: black;
  border-radius: 5px;
}

.answer {
  padding: 10px;
  margin: 5px;
  background-color: #1a2650;
  color: black;
  border-radius: 5px;
}